CONDITIONS & LOGIC

In [6]:
# Applying logic  using the if statement
name = 'Neil Armstrong'
if name =='Neil Armstrong' :
    print('how is the space ')
    #else : 
        #print('he is not here')

how is the space

In [7]:
test_number=10
if test_number >=5 :
    print('number is greater')

number is greater

In [13]:
probability = -0.4
if probability >= 0.5:
    print(True)
if probability< 0  :
    print('prbabilities cant be minus')   
else:
    print(False)

prbabilities cant be minus

LOOPS

In [15]:
names=['rahul','rohan','snehal','sai','sahil']

In [34]:
#FOR LOOPS 

for name in names:
    print(name)
    if name == 'rohan':
            print("ha yahi hu \n")
            continue
    elif name == 'snehal':
        print('hi snehal')
        break
    else : 
        pass
        #print('Name not a part of conditions')
        #print('hello duniya! \n')

rahul
rohan
ha yahi hu

snehal
hi snehal

In [36]:
for id in range(1,11):
    print(id)

1
2
3
4
5
6
7
8
9
10

In [42]:
launched_shuttles=0
total_shuttles=5

while True:
    print('shuttle {} launched'.format(launched_shuttles + 1))
    launched_shuttles = launched_shuttles + 1

    if launched_shuttles == total_shuttles :
        print("all shuttle launched ")
        break

shuttle 1 launched
shuttle 2 launched
shuttle 3 launched
shuttle 4 launched
shuttle 5 launched
all shuttle launched

In [39]:
launched_shuttles

5

In [48]:
astronaut = {"name":"elon musk",
             "country" : "usa",
             "company"  :"tesla"  }

In [45]:
for key in astronaut.keys():
    print(key)

name
country
company

In [49]:
for value in astronaut.values():
    print(value)

elon musk
usa
tesla

In [52]:
#loop through value and key
for key,value in astronaut.items():
    print(key,value,'\n')

name elon musk

country usa

company tesla

In [53]:
#List comprehension
new_list=[name.title() for name in names]

In [54]:
new_list

['Rahul', 'Rohan', 'Snehal', 'Sai', 'Sahil']

In [55]:
names

['rahul', 'rohan', 'snehal', 'sai', 'sahil']