FUNCTIONS

In [ ]:
# Defining a function in Python
def launchpad_welcome(num1, num2):
    total=num1 + num2
    for sum in range(10):
        total +=1
        print("always the value is greater than one:", total)
    


    #print('hello')

In [54]:
def divisible_num(num1, num2):
    for number in range(num2):
        if num1 % 2 == 0:  # Check if num1 is divisible by 2
            print("It is a divisible number:", number)
        else:
            print("Not required")

In [60]:
def launchpad():
    print("hello")
    print(1+2)
    print(3+4)

In [61]:
for id in range(5):
    launchpad()

hello
3
7
hello
3
7
hello
3
7
hello
3
7
hello
3
7

In [78]:
names=['rahul','rohan','snehal','sai','sahil','aditya']
space=['maruti','toyots','mercedes','suzuki','dio','honda']

In [68]:
def list_names(name):
    print('Welcome {}'.format(name))

In [85]:
for idx, name in enumerate(names):
    list_names(name)

TypeError: list_names() missing 1 required positional argument: 'space_ship'

In [90]:
# multiple positional arguments 
def list_names(name):
    print('Welcome {}to the {}'.format(name))

In [91]:
list_names('rahul','galatic')

TypeError: list_names() takes 1 positional argument but 2 were given

In [94]:
for idx,name in enumerate(names) :
    ship= space[idx]

    list_names(name,ship)

TypeError: list_names() takes 1 positional argument but 2 were given

In [105]:
players=['sachin','dravid','sehwag','kohli']
teams=['mi','dd','csk','rcb']

In [106]:
def auction_players(player,team):
    print('Welcome {} to the new team of  {}'.format(player,team))

In [108]:
#used the enumerate function to get the positional index and name
for idx,player in enumerate(players):
    new_team=teams[idx]
    auction_players(player,new_team)

Welcome sachin to the new team of  mi
Welcome dravid to the new team of  dd
Welcome sehwag to the new team of  csk
Welcome kohli to the new team of  rcb

In [112]:
#Defining key argument
def bidding_price(price='1 cr'):
    print('the bidding price is {}'.format(price))

In [113]:
bidding_price()

the bidding price is 1 cr

In [114]:
bidding_price(price='2 cr')

the bidding price is 2 cr

In [118]:
def auctions_team(player,team, price='2 cr',highest='10 cr'):
    return 'welcome {} to the team {} your bid was {} and the highest bid  is {}'.format(player,team,price,highest)

In [119]:
auctions_team('rahul','5 cr')

'welcome rahul to the team 5 cr your bid was 2 cr and the highest bid  is 10 cr'

In [122]:
#LAMBA FUNCTION (ANONMYOUS FUNCTION)
pi = lambda x:x*3.14 + x*5+5

In [123]:
pi(5)

45.7