Python basics from scratch

VARIABLES

In [6]:
space_name = 69

In [7]:
print(space_name)

69

In [8]:
type(space_name)

int

DATA TYPES

In [10]:
test_variable = 'pluto'

In [11]:
print(test_variable)

pluto

In [22]:
pluto_size= 1256

In [13]:
pluto_size + 10

1266

In [23]:
str(pluto_size)
type(pluto_size)

int

In [20]:
pluto_size-10

1246

In [15]:
pluto_size *10

12560

In [19]:
bool_variable= False

In [17]:
type (bool_variable)

bool

LIST

List can be as well array

In [26]:
list_variable=[1,2,3,4,6.64]

In [25]:
type (list_variable)

list

In [ ]:
list_variable[1]=5

In [38]:
#tuple
tuple_variable=(1,5,6,5,6,5,6,5,4,2.5)
tuple_variable

(1, 5, 6, 5, 6, 5, 6, 5, 4, 2.5)

In [28]:
type (tuple_variable)

tuple

In [37]:
#This is creating  a set variable
#sets are also immutable , it means same as tuple you cant change the exisiting value and also it has keep duplicate value
set_variable = {1,2,2,34,5,6,8,9,10}
set_variable

{1, 2, 5, 6, 8, 9, 10, 34}

In [35]:
type (set_variable)

set

In [43]:
#typecasting set to list 
set(list(set_variable))
#type(set_variable)

{1, 2, 5, 6, 8, 9, 10, 34}

In [50]:
#DEFINING A DICTIONARY VARIABLE
dict_variable={'name':'Rahul ','age':21,'country':'India'}
print(dict_variable)

{'name': 'Rahul ', 'age': 21, 'country': 'India'}

In [51]:
#IN DICTIONARY WE NEED TO PASS THROUGH KEY RATHER THAN INDEX
type(dict_variable)

dict_variable['country']

'India'

LISTS IN DETAIL

In [53]:
#CREATE
name = ['neil armstraong','elonmusk','marki zuckerburg','amitabh bacchan']
name

['neil armstraong', 'elonmusk', 'marki zuckerburg', 'amitabh bacchan']

In [55]:
name[-1]

'amitabh bacchan'

In [56]:
#update
name[-1]='bill gates'

In [57]:
name

['neil armstraong', 'elonmusk', 'marki zuckerburg', 'bill gates']

In [61]:
name.append('modiji')
name

['neil armstraong', 'elonmusk', 'marki zuckerburg', 'bill gates', 'modiji']

In [64]:
name.insert(1,'adani')
name

['neil armstraong',
 'adani',
 'elonmusk',
 'marki zuckerburg',
 'bill gates',
 'modiji']

In [65]:
name.pop()

'modiji'

In [66]:
name

['neil armstraong', 'adani', 'elonmusk', 'marki zuckerburg', 'bill gates']

In [70]:
del name[1]
name

['neil armstraong', 'marki zuckerburg', 'bill gates']

DICTIONARIES

In [72]:
astronaut = {'name':'rahul ramraje','suit size':46,'allergies':'woman'}

In [73]:
astronaut

{'name': 'rahul ramraje', 'suit size': 46, 'allergies': 'woman'}

In [74]:
astronaut['suit size']

46

In [75]:
astronaut.keys()

dict_keys(['name', 'suit size', 'allergies'])

In [82]:
astronaut.keys()

dict_keys(['name', 'suit size', 'allergies'])

In [83]:
astronaut['name']='srk'

In [84]:
astronaut

{'name': 'srk', 'suit size': 46, 'allergies': 'woman'}

In [85]:
astronaut['spaceship']='galatic 1'

In [86]:
astronaut

{'name': 'srk',
 'suit size': 46,
 'allergies': 'woman',
 'spaceship': 'galatic 1'}

In [87]:
del astronaut['spaceship']

In [88]:
astronaut

{'name': 'srk', 'suit size': 46, 'allergies': 'woman'}